BLOOP_CONTROL_PLANE_URL=https://api.bloop.to
BLOOP_RELAY_URL=wss://relay.bloop.to/connect
BLOOP_AUTH_TOKEN_ENV=BLOOP_CLIENT_TOKEN
BLOOP_ENROLLMENT_TOKEN_ENV=BLOOP_ENROLLMENT_TOKEN
BLOOP_TUNNELS_0_NAME=app
BLOOP_TUNNELS_0_HOSTNAME=app.bloop.to
BLOOP_TUNNELS_0_LOCAL_ADDR=host.docker.internal:3000
BLOOP_TUNNELS_0_ACCESS=public
BLOOP_TUNNELS_1_NAME=admin
BLOOP_TUNNELS_1_LOCAL_ADDR=host.docker.internal:4000
BLOOP_TUNNELS_1_ACCESS=basic_auth
BLOOP_TUNNELS_1_BASIC_AUTH_USERNAME=gene
BLOOP_TUNNELS_1_BASIC_AUTH_PASSWORD_ENV=BLOOP_ADMIN_PASSWORD
